.list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.list .list_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.533333rem 0.533333rem;
	background: #fff;
}

.list .list_item .item_left {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.list .list_item .item_left div {
	margin-top: 0.32rem;
	font-size: 0.426667rem;
}

.list .list_item .item_left div input {
	border: none;
	outline: none;
}

.list .list_item .item_left .active {
	color: #999999;
}

.list .list_item .item_right {
	color: #999999;
}

.upload {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	padding: 0.533333rem;
	margin: 0.4rem 0;
}

.upload .left {
	width: 1.706667rem;
	height: 1.706667rem;
	font-size: 0.8rem;
	text-align: center;
	line-height: 1.706667rem;
	background: #f2f2f2;
	color: #d8d8d8;
}

.upload .center {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 0.266667rem;
}

.upload .center div {
	font-size: 0.48rem;
	margin-bottom: 0.213333rem;
}

.upload .center p {
	font-size: 0.32rem;
	color: #999;
}
/*# sourceMappingURL=index.module.css.map */
