.list {
	display: flex;
	flex-direction: column;

	.list_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.533333rem 0.533333rem;
		background: #fff;

		.item_left {
			flex: 1;
			div {
				margin-top: 0.32rem;
				font-size: 0.426667rem;

				input {
					border: none;
					outline: none;
				}
			}

			.active {
				color: #999999;
			}
		}

		.item_right {
			color: #999999;
		}
	}
}

.upload {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 0.533333rem;
	margin: 0.4rem 0;

	.left {
		width: 1.706667rem;
		height: 1.706667rem;
		font-size: 0.8rem;
		text-align: center;
		line-height: 1.706667rem;
		background: #f2f2f2;
		color: #d8d8d8;
	}

	.center {
		flex: 1;
		margin: 0 0.266667rem;

		div {
			font-size: 0.48rem;
			margin-bottom: 0.213333rem;
		}

		p {
			font-size: 0.32rem;
			color: #999;
		}
	}
}
