@import '@/static/css/variable.scss';

.login {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	overflow: hidden;
}

.img_box {
	width: 80%;
	height: 5.333333rem;
	margin-top: 1.333333rem;

	img {
		width: 100%;
		height: 100%;
	}
}

.form {
	padding: 0 0.8rem;
	background: #fff;
	display: flex;
	flex-direction: column;

	input {
		padding: 0.266667rem 0;
		width: 5.333333rem;
		height: 0.8rem;
		border: none;
		outline: none;
	}

	button {
		margin-top: 0.266667rem;
		height: 0.8rem;
		position: relative;
		border: none;

		&:after {
			@include half-px-box(#666, 0.133333rem);
		}
	}
}
