.collect {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.collect main {
	flex: 1;
}
.collect dl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 0;
}
.collect dt {
	flex: 1;
}
.collect dd {
	flex: 2;
}
.collect .yue {
	color: orange;
}
.collect img {
	width: 150px;
	height: 100px;
	margin: 0 25px;
}
.collect .xiaoqu {
	background: rgb(221, 214, 214);
	width: 40px;
	text-align: center;
}
