.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;

	.content {
		width: 100%;
		height: auto;
	}
}

.pull_up {
	width: 100%;
	height: 0.8rem;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.533333rem;
}
