@import '@/static/css/variable.scss';

.addimage {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
}

.header {
	height: 1.2rem;
	display: flex;
	align-items: center;
	font-size: 0.426667rem;
	background: #fff;
	position: relative;

	p {
		position: absolute;
		left: 1.866667rem;
		right: 1.866667rem;
		text-align: center;
		font-weight: 800;
	}
}

.header:after {
	@include half-px-line(#ccc);
	top: 100%;
}

.main {
	// flex: 1;
	background: #fff;

	.nav {
		padding: 0.533333rem;
		display: flex;
		justify-content: space-between;
		font-size: 0.426667rem;

		span {
			font-size: 12px;
		}
	}

	.img {
		padding: 0 0.533333rem;
	}
}

.btn {
	padding: 0.64rem;

	.am-button-warning {
		border-radius: 1.333333rem !important;
	}
}
