@font-face {
	font-family: 'iconfont'; /* Project id 2754162 */
	src: url('iconfont.woff2?t=1629362079521') format('woff2'), url('iconfont.woff?t=1629362079521') format('woff'),
		url('iconfont.ttf?t=1629362079521') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fangzi:before {
	content: '\e616';
}

.icon-xiaoxi1:before {
	content: '\e600';
}

.icon-zhiye:before {
	content: '\e613';
}

.icon-location:before {
	content: '\e601';
}

.icon-baohu:before {
	content: '\e6a0';
}

.icon-shuru:before {
	content: '\e603';
}
