@import '@/static/css/variable.scss';

.details {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #fff;
}

.main {
	flex: 1;
	overflow: hidden;
}

.nav {
	height: 5.333333rem;
	position: relative;

	.nav_top {
		height: 3.466667rem;
		background: #000;
	}

	.nav_center {
		width: 8.8rem;
		height: 5.333333rem;
		background: cornsilk;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		border-radius: 0.266667rem;
		background-image: linear-gradient(135deg, #f0b683, #ffeede 64%, #f0b683);
		color: #835125;

		.icon_img {
			width: 54px;
			height: 54px;
			position: absolute;
			top: 0;
			right: 0.266667rem;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.top {
		display: flex;
		padding: 0.32rem 0.64rem;

		.top_img {
			width: 1.706667rem;
			height: 1.706667rem;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.top_center {
			line-height: 0.8rem;
			margin-left: 0.133333rem;
			h4 {
				font-size: 0.426667rem;

				span {
					font-size: 0.32rem;
					padding: 0.053333rem 0.133333rem;
					background: rgba($color: #000000, $alpha: 0.2);
					border-radius: 0.266667rem;
					margin-left: 0.266667rem;
					color: #fff;
				}
			}
		}
	}

	.center {
		padding: 0.32rem 0.64rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		&:after {
			@include half-px-line(#ccc);
		}
		.center_box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			line-height: 0.426667rem;

			b {
				font-size: 0.426667rem;
			}
		}
	}

	.bottom {
		padding: 0.32rem 0.64rem;
		line-height: 0.48rem;
	}
}

.goto {
	padding: 0.533333rem 0;

	.goto_con {
		padding: 0 0.64rem;
		display: flex;
		justify-content: space-between;

		li {
			width: 24%;
			padding: 0.32rem;
			background-color: #f5f5f5;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 0.133333rem;

			p {
				width: 0.853333rem;
				height: 0.853333rem;
				border-radius: 50%;
				text-align: center;
				line-height: 0.853333rem;
				margin-bottom: 0.133333rem;

				i {
					color: #fff;
					font-weight: 500;
				}
			}

			span {
				font-size: 0.426667rem;
			}
		}
	}
}
