@import '@/static/css/variable.scss';

.publish {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f6f6f6;
}

.nav {
	height: 1.2rem;
	color: #000;
	line-height: 1.2rem;
	text-align: center;
	font-size: 0.426667rem;
	font-weight: bold;
	background: #fff;
}

// .nav:after {
//     @include half-px-line(#000);
// }

.list {
	display: flex;
	flex-direction: column;
	background: #fff;

	.list_li {
		display: flex;
		align-items: center;
		margin: 0.266667rem;

		.icon {
			width: 1.28rem;
			height: 1.28rem;
			margin: 0 0.266667rem;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.li_center {
			flex: 1;
			line-height: 0.666667rem;

			h4 {
				font-size: 0.426667rem;
			}

			span {
				color: #999;
			}
		}

		.gt {
			color: #ccc;
			margin-right: 0.533333rem;
		}
	}
}
