$main-color: #222;
$base-width-375: 375px;

$red: #f85634;
$red-1: #fab9ac;
$green: #00be7b;
$gray-1: #999999;
$gray-2: #666666;
$gray-3: #eeeeee;
$gray-4: #aaaaaa;
$bgcolor: #fafafa;
$yellow: #ff8200;
$white: #fff;
$black-1: #222222;

// 0.5px边框线  颜色、圆角
@mixin half-px-box($color: #eeeeee, $radius: 0) {
	position: absolute;
	box-sizing: border-box;
	content: ' ';
	pointer-events: none;
	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -50%;
	border: 1px solid $color;
	border-radius: $radius;
	transform: scale(0.5);
}

// 0.5单线  颜色
@mixin half-px-line($color: #eeeeee) {
	position: absolute;
	box-sizing: border-box;
	content: ' ';
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: $color;
	transform: scaleY(0.5);
}

@mixin mall-circle-checked($size: 20px) {
	// .size375(width, $size);
	// .size375(height, $size);
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 999px;
	&.checked {
		background: url('~@/assets/common/checked-solid.svg') center no-repeat;
		background-size: 100% auto;
		border-color: transparent;
	}
}

// flex 上中下布局
@mixin display-flex-column-mixin($principal_axis: flex-start, $cross_axis: flex-start) {
	display: flex;
	flex-direction: column;
	justify-content: $principal_axis;
	align-items: $cross_axis;
}

// flex 左中右
@mixin display-flex-row-mixin($principal_axis: flex-start, $cross_axis: flex-start) {
	display: flex;
	flex-direction: row;
	justify-content: $principal_axis;
	align-items: $cross_axis;
}

/* 单行文本溢出隐藏，... */
@mixin line-text-hidden {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 多行文本溢出隐藏，... */
@mixin multi-text-hidden($num) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/* 设置对齐模式 */
	-webkit-box-orient: vertical;
	/* 设置多行的行数 */
	-webkit-line-clamp: $num;
}

// 多行文本....
@mixin text-lines($lineNum) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lineNum;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin text-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin border-box($boxstyle: border-box) {
	box-sizing: $boxstyle;
}

@mixin bor-box {
	@include border-box;
}

@mixin z-index($index: 1) {
	z-index: $index;
}

@mixin tol-iphone-x-bottom() {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

// @media screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

// }

$device-x: 'screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)';
// iphone xr/11
$device-xr: 'screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)';
// iphone x/xs/11pro max
$device-xmax: 'screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)';
