.BrokerBox {
	width: 100%;
	height: 100%;
	header {
		width: 100%;
		height: 1.333333rem;
		background-color: #2693fa;
		font-size: 0.586667rem;
		display: flex;
		color: #fff;
		align-items: center;
		span {
			margin-left: 0.266667rem;
		}
		div {
			margin-left: 3.466667rem;
		}
	}
	main {
		width: 100%;
		height: calc(100% - 1.333333rem);
		.searchBox {
			width: 100%;
			height: 1.333333rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			background-color: #ff6667;
			i {
				position: absolute;
				top: 0.4rem;
				left: 0.8rem;
			}
			input {
				width: 8.533333rem;
				height: 0.933333rem;
				border: 2px solid #ccc;
				border-radius: 0.266667rem;
				font-size: 0.48rem;
				text-indent: 0.533333rem;
				background-color: #fbc2c1;
			}
		}
		.imgBox {
			width: 100%;
			height: 4.8rem;
			background-color: #ff6667;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.colorBox {
			width: 100%;
			height: 1.666667rem;
			background-color: #fb656a;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			.listBox {
				width: 9.333333rem;
				height: 5.066667rem;
				display: flex;
				justify-content: space-around;
				align-items: flex-end;
				.left_box {
					width: 2.666667rem;
					height: 3.733333rem;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #fff;
					border-top-left-radius: 0.266667rem;
					border-top-right-radius: 0.266667rem;
					.leftCon_Box {
						width: 2.666667rem;
						height: 3.066667rem;
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						.img_Box {
							width: 1.6rem;
							height: 1.6rem;
							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
						}
						.bc_img {
							width: 100%;
							height: 0.8rem;
							position: absolute;
							left: 0;
							top: 1.233333rem;
							img {
								width: 100%;
								height: 100%;
							}
						}
						span {
							margin-top: 0.533333rem;
							font-size: 0.373333rem;
						}
					}
				}
				.mid_box {
					width: 2.933333rem;
					height: 4.266667rem;
					background-color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-top-left-radius: 0.266667rem;
					border-top-right-radius: 0.266667rem;
					.minCon_Box {
						width: 2.4rem;
						height: 3.933333rem;
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						.img_Box {
							width: 1.706667rem;
							height: 1.706667rem;
							margin-top: 0.266667rem;
							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
						}
						.bc_img {
							width: 100%;
							height: 1.066667rem;
							position: absolute;
							left: 0;
							top: 1.6rem;
							img {
								width: 100%;
								height: 100%;
							}
						}
						span {
							margin-top: 0.533333rem;
							font-size: 0.426667rem;
						}
					}
				}
				.right_box {
					width: 2.666667rem;
					height: 3.733333rem;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #fff;
					border-top-left-radius: 0.266667rem;
					border-top-right-radius: 0.266667rem;
					.rightCon_Box {
						width: 2.666667rem;
						height: 3.066667rem;
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						.img_Box {
							width: 1.6rem;
							height: 1.6rem;
							// margin-top: 0.266667rem;
							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
						}
						.bc_img {
							width: 100%;
							height: 0.8rem;
							position: absolute;
							left: 0;
							top: 1.233333rem;
							img {
								width: 100%;
								height: 100%;
							}
						}
						span {
							margin-top: 0.533333rem;
							font-size: 0.373333rem;
						}
					}
				}
			}
		}
		.mainBox {
			width: 100%;
			min-height: 2.666667rem;
			overflow: scroll;
			.item_box {
				width: 100%;
				height: 1.866667rem;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				.item_con {
					width: 8.533333rem;
					height: 2.133333rem;
					display: flex;
					justify-content: space-between;
					font-size: 0.426667rem;
					border-bottom: 1px solid #ccc;
					.leftBox {
						min-width: 2.666667rem;
						height: 100%;
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						.numSpan {
							width: 0.533333rem;
							height: 100%;
							line-height: 2.133333rem;
						}
						.imgBox {
							width: 1.333333rem;
							height: 1.333333rem;
							border-radius: 50%;
							overflow: hidden;
							margin-left: 0.266667rem;
							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
						}
						.nameBox {
							margin-left: 0.266667rem;
							height: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							p {
								color: #ccc;
								font-size: 0.373333rem;
							}
						}
					}
					.rightBox {
						width: 1.6rem;
						height: 100%;
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-between;
						align-items: center;
					}
				}
			}
		}
	}
}
