@import '@/static/css/variable.scss';

.consulting {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1;
	// overflow: hidden;
	overflow-y: auto;
	background: #f5f5f5;

	.main_scroll {
		width: 100%;
		overflow-y: auto;
	}
}

.nav {
	// width: 100%;
	display: flex;
	align-items: flex-start;
	padding: 0.266667rem;

	img {
		width: 1.066667rem;
		height: 1.066667rem;
		border-radius: 50%;
	}

	span {
		margin: 0 0.266667rem;
		padding: 0.266667rem 0.133333rem;
		background: #ccc;
		border-radius: 0.266667rem;
		margin-top: 0.133333rem;
	}

	b {
		display: block;
		text-decoration: underline;
		margin: 0.133333rem 0;
	}
	b {
		display: block;
		margin: 2px 0;
		color: #ff706f;
		text-decoration: underline;
	}
}

.nav_right {
	justify-content: flex-end;

	span {
		padding: 0.266667rem 0.133333rem;
		background: #66cc33;
		border-radius: 0.266667rem;
	}
}

.footer {
	height: 1.2rem;
	display: flex;
	align-items: center;
	position: relative;

	&:after {
		// 0.5px单边框线
		@include half-px-line(#ccc);
		top: 0;
	}

	.foot_left {
		display: flex;
		align-items: center;
		width: 80%;

		.div_input {
			width: 80%;
			height: 0.933333rem;
			border-radius: 0.08rem;
			position: relative;

			&:after {
				// 0.5px边框
				@include half-px-box(#ccc, 0.026667rem);
			}

			input {
				width: 95%;
				height: 100%;
				border: none;
				outline: none;
				padding: 0 0.133333rem;
			}
		}

		.div_span {
			width: 80%;
			height: 0.933333rem;
			border-radius: 0.08rem;
			text-align: center;
			line-height: 0.933333rem;
			font-size: 0.426667rem;
			position: relative;

			&:after {
				// 0.5px边框
				@include half-px-box(#ccc, 0.026667rem);
			}
		}

		i {
			font-size: 0.8rem;
			margin: 0 0.213333rem;
		}
	}

	.div_right {
		display: flex;
		align-items: center;

		span {
			background: #ff706f;
			color: #fff;
			white-space: nowrap;
			padding: 0.266667rem 0.266667rem;
			border-radius: 0.133333rem;
			margin-right: 0.133333rem;
			font-weight: 500q;
		}

		i {
			font-size: 0.8rem;
			margin: 0 0.213333rem;
		}
	}
}
