.header {
	width: 100%;
	height: 1.2rem;
	display: flex;
	align-items: center;
	font-size: 0.426667rem;
	background: #fff;
	position: relative;

	p {
		position: absolute;
		left: 1.866667rem;
		right: 1.866667rem;
		text-align: center;
		font-weight: 600;
	}
}

.text {
	color: #fff;
}
