.home {
	width: 100%;
	overflow: hidden;
}

.nav {
	width: 100%;
	height: 13.75rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.nav > div {
	width: 20%;
	height: 5.25rem;
}

.nav > div .imgss {
	width: 2.8125rem;
	height: 2.8125rem;
}

.nav > div .imgss img {
	width: 100%;
	height: 100%;
}
/*# sourceMappingURL=home.css.map */
