.home {
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

.nav {
	width: 100%;
	height: 5.733333rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.533333rem;

	> div {
		width: 20%;
		height: 2.133333rem;

		.imgss {
			width: 100%;
			height: 80%;
			text-align: center;

			img {
				width: 1.2rem;
				height: 1.2rem;
			}
		}

		.title {
			width: 100%;
			height: 0.533333rem;
			text-align: center;
		}
	}
}

.othTitle {
	width: 100%;
	height: 5.573333rem;
	display: flex;
	justify-content: center;

	.tt {
		width: 90%;
		height: 100%;

		.ofc {
			width: 100%;
			height: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left {
				font-size: 0.666667rem;
				font-weight: 600;
			}

			.right {
				display: inline-block;
				width: 30%;
				height: 100%;
				background: chocolate;
				margin-right: 0.533333rem;
				border-radius: 0.533333rem;
				line-height: 0.8rem;
				text-align: center;
				color: #fff;
			}
		}

		.pm {
			width: 100%;
			height: 3.466667rem;
			margin-top: 0.533333rem;
			border: 1px solid rgb(235, 235, 235);

			> div {
				width: 100%;
				height: 50%;
			}

			.xtop {
				display: flex;
				border-bottom: 1px solid rgb(235, 235, 235);

				.xleft {
					width: 50%;
					height: 100%;
					border-right: 1px solid rgb(235, 235, 235);

					.title {
						width: 100%;
						height: 60%;
						text-align: center;
						line-height: 1.04rem;
					}

					.text {
						width: 100%;
						height: 40%;
						text-align: center;
					}
				}

				.xright {
					width: 50%;
					height: 100%;

					.title {
						width: 100%;
						height: 60%;
						text-align: center;
						line-height: 1.04rem;
					}

					.text {
						width: 100%;
						height: 40%;
						text-align: center;
					}
				}

				.price {
					font-weight: 500;
					font-size: 0.533333rem;
				}
			}
		}
	}
}

.xbottom {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	> .bottomContent {
		width: 95%;
		height: 85%;

		.carousel .v-item {
			height: 1.96rem;
			line-height: 0.96rem;
			padding-left: 0.266667rem;
		}
	}
}

.hotBuild {
	width: 100%;
	height: 14.64rem;
	margin-top: 0.533333rem;

	.hotBuildTitle {
		font-size: 0.506667rem;
		font-weight: 600;
	}

	.hotBuildList {
		width: 100%;
		height: 3.573333rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #ccc;

		> div {
			width: 100%;
			height: 2.453333rem;
			display: flex;
			justify-content: space-between;

			.leftImg {
				width: 2.72rem;
				height: 100%;
				overflow: hidden;
				border-radius: 0.126667rem;

				> img {
					width: 100%;
					height: 100%;
				}
			}

			.rightDetail {
				width: 5.92rem;
				height: 100%;

				.topTitle {
					width: 100%;
					height: 0.533333rem;
					font-size: 0.426667rem;
					line-height: 0.533333rem;
					position: relative;

					.status {
						position: absolute;
						width: 0.986667rem;
						height: 0.453333rem;
						right: 0;
						top: 0.1rem;
						font-size: 0.32rem;
						color: #fff;
						line-height: 0.453333rem;
						text-align: center;
					}
				}

				.price {
					width: 100%;
					height: 0.426667rem;
					line-height: 0.426667rem;
					margin-top: 0.133333rem;

					.sPrice {
						font-weight: 600;
						font-size: 0.426667rem;
					}

					color: red;
				}

				.biuldType {
					width: 100%;
					height: 0.48rem;
					line-height: 0.48rem;
					margin-top: 0.133333rem;
					color: rgb(170, 170, 170);

					> span {
						display: inline-block;
						padding: 0 0.133333rem 0 0.133333rem;
						border: 1px solid #ccc;
						margin: 0 0 0 0.133333rem;
					}
				}

				.discount {
					width: 100%;
					height: 0.426667rem;
				}
			}
		}
	}
}
