.home {
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.nav {
	width: 100%;
	height: 5.733333rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 0.533333rem;
}

.nav > div {
	width: 20%;
	height: 2.133333rem;
}

.nav > div .imgss {
	width: 100%;
	height: 80%;
	text-align: center;
}

.nav > div .imgss img {
	width: 1.2rem;
	height: 1.2rem;
}

.nav > div .title {
	width: 100%;
	height: 0.533333rem;
	text-align: center;
}

.othTitle {
	width: 100%;
	height: 5.573333rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.othTitle .tt {
	width: 95%;
	height: 100%;
}

.othTitle .tt .ofc {
	width: 100%;
	height: 0.8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.othTitle .tt .ofc .left {
	font-size: 0.666667rem;
	font-weight: 600;
}

.othTitle .tt .ofc .right {
	display: inline-block;
	width: 30%;
	height: 100%;
	background: chocolate;
	margin-right: 0.533333rem;
	border-radius: 0.533333rem;
	line-height: 0.8rem;
	text-align: center;
	color: #fff;
}
/*# sourceMappingURL=home.module.css.map */
