@import '@/static/css/variable.scss';

.detail {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
}

.header:after {
	@include half-px-line(#ccc);
	top: 100%;
}

.header {
	height: 1.2rem;
	display: flex;
	align-items: center;
	font-size: 0.426667rem;
	background: #fff;
	position: relative;

	p {
		position: absolute;
		left: 1.866667rem;
		right: 1.866667rem;
		text-align: center;
		font-weight: 800;
	}
}

.main {
	width: 100%;
	flex: 1;
	overflow-y: auto;
	background: #f2f2f2;
}

.list {
	background: #fff;
	display: flex;
	flex-direction: column;

	.list_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0.533333rem 0.533333rem;

		.item_left {
			flex: 1;
			div {
				margin-top: 0.32rem;
				font-size: 0.426667rem;
			}

			.active {
				color: #999999;
			}
		}

		.item_right {
			color: #999999;
		}
	}
}

.upload {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 0.533333rem;
	margin: 0.4rem 0;

	.left {
		width: 1.706667rem;
		height: 1.706667rem;
		font-size: 0.8rem;
		text-align: center;
		line-height: 1.706667rem;
		background: #f2f2f2;
		color: #d8d8d8;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.center {
		flex: 1;
		margin: 0 0.266667rem;

		div {
			font-size: 0.48rem;
			margin-bottom: 0.213333rem;
		}

		p {
			font-size: 0.32rem;
			color: #999;
		}
	}
}

.time {
	height: 1.066667rem;
	background: #fff;
	padding: 0 0.533333rem;
	margin: 0.266667rem 0;
	line-height: 1.066667rem;
}

.check {
	display: flex;
	height: 1.066667rem;
	padding: 0 0.666667rem;
	margin: 0.266667rem 0;
	line-height: 1.066667rem;
	align-items: center;

	input {
		width: 16px;
		height: 16px;
	}

	p {
		font-size: 0.426667rem;

		span {
			font-size: 0.32rem;
		}
	}
}

.btn {
	padding: 0.64rem;

	.am-button-warning {
		border-radius: 1.333333rem !important;
	}
}
