@font-face {
	font-family: 'iconfont'; /* Project id 2751322 */
	src: url('//at.alicdn.com/t/font_2751322_xsgdheizlhk.woff2?t=1630027587326') format('woff2'),
		url('//at.alicdn.com/t/font_2751322_xsgdheizlhk.woff?t=1630027587326') format('woff'),
		url('//at.alicdn.com/t/font_2751322_xsgdheizlhk.ttf?t=1630027587326') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jjia-:before {
	content: '\e6a9';
}

.icon-biaoqing:before {
	content: '\e60b';
}

.icon-jianpan:before {
	content: '\e65b';
}

.icon-yuyin:before {
	content: '\e68d';
}

.icon-erweima:before {
	content: '\e600';
}

.icon-dianzan1:before {
	content: '\e623';
}

.icon-zhuanfa:before {
	content: '\e613';
}

.icon-shanchu:before {
	content: '\e615';
}

.icon-dianzan:before {
	content: '\e60c';
}

.icon-dianhua:before {
	content: '\e644';
}

.icon-xiaoxi:before {
	content: '\e612';
}

.icon-xinfang:before {
	content: '\e62d';
}

.icon-wenda:before {
	content: '\e893';
}

.icon-fangzi:before {
	content: '\e8ff';
}

.icon-zulin:before {
	content: '\e900';
}

.icon-fangdai:before {
	content: '\e779';
}

.icon-tubiao313:before {
	content: '\e624';
}

.icon-fabu:before {
	content: '\e66f';
}

.icon-lianhe4:before {
	content: '\e668';
}

.icon-index:before {
	content: '\e60f';
}

.icon-fangyuan:before {
	content: '\f4e0';
}
