@import '@/static/css/variable.scss';

.consultant {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.main {
		flex: 1;
		overflow: hidden;
	}
}

.nav {
	height: 7.466667rem;
	background-color: rgb(251, 101, 106);
	position: relative;

	.nav_search {
		width: 100%;
		position: absolute;
		top: 0;

		:global {
			.am-search {
				background-color: rgba($color: #fff, $alpha: 0) !important;
			}
			.am-search-input {
				background-color: rgba($color: #fff, $alpha: 0.8) !important;
			}
		}
	}

	.nav_top {
		height: 4.8rem;
		background: url('https://images.tengfangyun.com/images/new_icon/adviser_list_bg1.png?x-oss-process=style/w_8601') center;
		background-size: 100%;
	}

	.nav_post {
		position: absolute;
		bottom: 0;
		left: 0.64rem;
		right: 0.64rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		height: 4.373333rem;

		.nav_post_item {
			width: 2.666667rem;
			height: 3.2rem;
			padding: 0.32rem 0.08rem 0.4rem 0.08rem;
			background-color: #fff;
			border-top-left-radius: 0.32rem;
			border-top-right-radius: 0.32rem;
			align-items: center;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;

			.img1 {
				width: 1.28rem;
				height: 1.28rem;
				margin-bottom: 0.586667rem;
				border-radius: 50%;
			}

			.img2 {
				width: 100px;
				position: absolute;
				left: 0;
				bottom: 1.333333rem;

				img {
					width: 100%;
					height: 100%;
				}
			}

			h4 {
				width: 2.133333rem;
				margin-bottom: 5px;
				font-size: 0.426667rem;
				@include line-text-hidden;
			}

			p {
				width: 2.4rem;
				display: flex;
				@include line-text-hidden;
				text-align: center;
			}
		}

		.nav_post_item:nth-child(2) {
			height: 3.386667rem;
			width: 3.386667rem;
			margin: 0 0.026667rem;
			padding-top: 0.48rem;
			background-image: url(https://images.tengfangyun.com/images/new_icon/bg_touxiang%403x.png);
			background-size: 2.613333rem;
			background-repeat: no-repeat;
			background-position: 0.4rem 0.453333rem;

			.img1 {
				width: 1.706667rem;
				height: 1.706667rem;
			}

			.img2 {
				width: 100px;
				position: absolute;
				left: 0.32rem;
				bottom: 1.333333rem;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

// tab切换
.cate_box {
	padding: 0.266667rem 0.96rem;
	margin-bottom: 0.32rem;
	background-color: #fff;

	.cate_list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 0.853333rem;
		border-radius: 0.426667rem;
		background-color: #f3f3f3;

		.cate_item {
			padding: 0 0.48rem;
			border-radius: 0.426667rem;
			position: relative;
		}

		.active {
			color: #fff;
		}
	}
}

.scroll {
	width: 100%;
	background: #fff;
	margin-top: 0.533333rem;

	.scroll_item {
		display: flex;
		align-items: center;
		padding: 0.533333rem 0.8rem;

		b {
			width: 0.533333rem;
		}

		.item_center {
			display: flex;
			align-items: center;
			color: #999;
			flex: 1;

			.center_con {
				line-height: 0.426667rem;
				margin-left: 0.266667rem;
			}

			img {
				width: 1.173333rem;
				height: 1.173333rem;
				border-radius: 50%;
			}

			h3 {
				font-size: 0.426667rem;
				color: #000;
			}
		}

		.item_bottom {
			width: 2.133333rem;
			line-height: 0.8rem;

			.icon_box {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.icon {
				width: 0.853333rem;
				height: 0.853333rem;
				border-radius: 50%;
				text-align: center;
				line-height: 0.853333rem;

				i {
					font-size: 0.586667rem;
					color: #fb656a;
				}
			}

			.rgba1 {
				background: rgba(251, 101, 106, 0.12);

				i {
					color: #fb656a;
				}
			}

			.rgba2 {
				background: rgba(0, 202, 167, 0.12);

				i {
					color: #00caa7;
				}
			}

			.rgba3 {
				background: rgba(76, 199, 246, 0.12);

				i {
					color: #4cc7f6;
				}
			}

			.like {
				width: 2.133333rem;
				text-align: right;
				color: #ccc;
			}
		}
	}
}
