.seekHouseBox {
	width: 100%;
	height: 100%;
	position: relative;
}

.header {
	width: 100%;
	height: 5.666667rem;
	background-color: #2592fa;
	text-align: center;
	color: #fff;
	font-size: 0.48rem;
}

.header img {
	width: 100%;
	height: 100%;
}

.con {
	width: 100%;
	height: calc(100% - 5.666667rem);
	position: absolute;
	top: 5.133333rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Top {
	width: 9rem;
	height: 7rem;
}

.con .con_Top .inputBox_header {
	width: 100%;
	height: 1.333333rem;
	background-color: pink;
	color: #ff6795;
	font-size: 0.426667rem;
	text-align: center;
	line-height: 1.333333rem;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fedada), to(#ffffff));
	background-image: linear-gradient(#fedada, #ffffff);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.con .con_Top .input_main {
	width: 100%;
	height: 3rem;
}

.con .con_Top .input_main .cityDiv {
	width: 100%;
	height: 1.333333rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Top .input_main .cityDiv i {
	font-size: 0.533333rem;
}

.con .con_Top .input_main .cityDiv input {
	width: 100%;
	height: 0.8rem;
	border: none;
}

.con .con_Top .input_main .infoDiv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-top: 0.266667rem;
}

.con .con_Top .input_main .infoDiv input {
	width: 50%;
	height: 0.8rem;
	border: none;
}

.con .con_Top .input_main .yinsi {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Top .input_footer {
	width: 100%;
	height: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Top .input_footer .publishBtn {
	width: 8rem;
	height: 1.2rem;
	background-color: #ff666e;
	color: #fff;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.48rem;
	border: none;
}

.con .con_Top .input_footer .footerDiv {
	width: 8rem;
	height: 0.8rem;
	border: 1px solid #ff666e;
	font-size: 0.426667rem;
	line-height: 0.8rem;
	margin-top: 0.133333rem;
	border-radius: 10px;
	text-align: center;
	color: #ff666e;
}

.con .con_Bottom {
	width: 9rem;
	height: 3.933333rem;
	margin-top: 0.266667rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.con .con_Bottom .BuildingBox {
	width: 4.266667rem;
	height: 1.6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Bottom .BuildingBox p {
	font-size: 0.48rem;
}

.con .con_Bottom .BuildingBox span {
	color: #ff666e;
	font-size: 0.373333rem;
}

.con .con_Bottom .MapBox {
	width: 4.266667rem;
	height: 1.6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Bottom .MapBox p {
	font-size: 0.48rem;
}

.con .con_Bottom .MapBox span {
	color: #6bc8f7;
	font-size: 0.373333rem;
}

.con .con_Bottom .ProfessionalBox {
	width: 4.266667rem;
	height: 1.6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Bottom .ProfessionalBox p {
	font-size: 0.48rem;
}

.con .con_Bottom .ProfessionalBox span {
	color: #4bcfb7;
	font-size: 0.373333rem;
}

.con .con_Bottom .MessageBox {
	width: 4.266667rem;
	height: 1.6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.con .con_Bottom .MessageBox p {
	font-size: 0.48rem;
}

.con .con_Bottom .MessageBox span {
	color: #fdd26d;
	font-size: 0.373333rem;
}
/*# sourceMappingURL=style.css.map */
