.seekHouseBox {
	width: 100%;
	height: 100%;
	position: relative;
}
.header {
	width: 100%;
	height: 5.666667rem;
	background-color: #2592fa;
	text-align: center;
	color: #fff;
	font-size: 0.48rem;
	img {
		width: 100%;
		height: 100%;
	}
}
.con {
	width: 100%;
	height: calc(100% - 5.666667rem);
	// background-color: red;
	position: absolute;
	top: 5.133333rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	.con_Top {
		width: 9rem;
		height: 7rem;
		.inputBox_header {
			width: 100%;
			height: 1.333333rem;
			background-color: pink;
			color: #ff6795;
			font-size: 0.426667rem;
			text-align: center;
			line-height: 1.333333rem;
			background-image: linear-gradient(#fedada, #ffffff);
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		.input_main {
			width: 100%;
			height: 3rem;
			.cityDiv {
				width: 100%;
				height: 1.333333rem;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				i {
					font-size: 0.533333rem;
				}
				input {
					width: 100%;
					height: 0.8rem;
					border: none;
					text-indent: 0.133333rem;
				}
			}
			.infoDiv {
				display: flex;
				justify-content: space-around;
				margin-top: 0.266667rem;
				input {
					width: 50%;
					height: 0.8rem;
					border: none;
				}
			}
			.yinsi {
				display: flex;
				align-items: center;
			}
		}
		.input_footer {
			width: 100%;
			height: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.publishBtn {
				width: 8rem;
				height: 1.2rem;
				background-color: #ff666e;
				color: #fff;
				text-align: center;
				line-height: 1.2rem;
				font-size: 0.48rem;
				border: none;
			}
			.footerDiv {
				width: 8rem;
				height: 0.8rem;
				border: 1px solid #ff666e;
				font-size: 0.426667rem;
				line-height: 0.8rem;
				margin-top: 0.133333rem;
				border-radius: 10px;
				text-align: center;
				color: #ff666e;
			}
		}
	}
	.con_Bottom {
		width: 9rem;
		height: 3.933333rem;
		margin-top: 0.266667rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		.BuildingBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.48rem;
			}
			span {
				color: #ff666e;
				font-size: 0.373333rem;
			}
		}
		.MapBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.48rem;
			}
			span {
				color: #6bc8f7;
				font-size: 0.373333rem;
			}
		}
		.ProfessionalBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.48rem;
			}
			span {
				color: #4bcfb7;
				font-size: 0.373333rem;
			}
		}
		.MessageBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.48rem;
			}
			span {
				color: #fdd26d;
				font-size: 0.373333rem;
			}
		}
	}
}
.con {
	width: 100%;
	height: calc(100% - 5.666667rem);
	// background-color: red;
	position: absolute;
	top: 5.133333rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	.con_Top {
		width: 9rem;
		height: 7rem;
		.inputBox_header {
			width: 100%;
			height: 1.333333rem;
			background-color: pink;
			color: #ff6795;
			font-size: 0.426667rem;
			text-align: center;
			line-height: 1.333333rem;
			background-image: linear-gradient(#fedada, #ffffff);
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		.input_main {
			width: 100%;
			height: 3rem;
			.cityDiv {
				width: 100%;
				height: 1.333333rem;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				i {
					font-size: 0.533333rem;
				}
				input {
					width: 100%;
					height: 0.8rem;
					border: none;
				}
			}
			.infoDiv {
				display: flex;
				justify-content: space-around;
				margin-top: 0.266667rem;
				input {
					width: 50%;
					height: 0.8rem;
					border: none;
				}
			}
			.yinsi {
				display: flex;
				align-items: center;
			}
		}
		.input_footer {
			width: 100%;
			height: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.publishBtn {
				width: 8rem;
				height: 1.2rem;
				background-color: #ff666e;
				color: #fff;
				text-align: center;
				line-height: 1.2rem;
				font-size: 0.48rem;
				border: none;
			}
			.footerDiv {
				width: 8rem;
				height: 0.8rem;
				border: 1px solid #ff666e;
				font-size: 0.426667rem;
				line-height: 0.8rem;
				margin-top: 0.133333rem;
				border-radius: 10px;
				text-align: center;
				color: #ff666e;
			}
		}
	}
	.con_Bottom {
		width: 9rem;
		height: 3.933333rem;
		margin-top: 0.266667rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		.BuildingBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.453333rem;
			}
			span {
				color: #ff666e;
				font-size: 0.373333rem;
			}
		}
		.MapBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.453333rem;
			}
			span {
				color: #6bc8f7;
				font-size: 0.373333rem;
			}
		}
		.ProfessionalBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.453333rem;
			}
			span {
				color: #4bcfb7;
				font-size: 0.373333rem;
			}
		}
		.MessageBox {
			width: 4.266667rem;
			height: 1.6rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				font-size: 0.453333rem;
			}
			span {
				color: #fdd26d;
				font-size: 0.373333rem;
			}
		}
	}
}
