@import '@/static/iconfont/iconfont.css';
@import '@/static/css/global.css';

* {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1;
	overflow-y: auto;
}

.footer {
	height: 1.333333rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #fff;
}

.footer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #d7d7d7;
}

.footer a i {
	font-size: 0.693333rem;
}

.active {
	color: #fa826b !important;
}
.aa {
	width: 100%;
	height: 20px;
	border-top: solid #000 0.03125rem;
	border-bottom: solid #000 0.0625rem;
}
