* {
	margin: 0;
	padding: 0;
}
.my {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
}
.mymain {
	width: 100%;
	flex: 1;
	overflow-y: scroll;
	background: #f9f9f9;
}
.my h3 {
	text-align: center;
	color: white;
	position: relative;
	top: 30%;
}
.my .box {
	background-repeat: no-repeat;
	background-size: cover;
}
.boxs {
	width: 350px;
	height: 150px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 15px;
	z-index: 9999;
	position: relative;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
	box-shadow: 3px 3px 5px #efefef;
}
.myimg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	padding: 0 25px;
	border-bottom: 1px solid #ccc;
}
.my .bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 45px;
	padding: 0 25px;
}
.my li {
	display: flex;
	flex-direction: column;
}
.footer {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.list {
	margin-top: 80px;
}
.my .pay {
	height: 45px;
	background: white;
	margin: 3px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}
.my .issue {
	height: 45px;
	background: white;
	margin: 3px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}
.my .service {
	height: 45px;
	background: white;
	margin: 3px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}
.my .svg {
	font-size: 36px;
}
